{% extends 'base.html.twig' %}

{% block title %}La fabric des sublimés, c'est qui & c'est quoi ?{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css')}}">
{% endblock %}
{% block body %}

    <div class="container-fluid mt-5 mb-5">
        <div class="d-flex justify-content-center">
            <img src="{{ asset('images_sites/logo1.jpg')}}" alt="logoLaFabricDesSublimes" class="logoLaFabricDesSublimes">
        </div>
    </div>


    <div class="text-center mt-5 contenair-custom">
        <div class="container-fluid bloc">
            <div class="d-flex justify-content-between">
                    <img src="{{ asset('images_sites/home/image1pagedaccueil.png')}}" class="taille-image-accueil" alt="imageHomePage0">
                    <img src="{{ asset('images_sites/home/image11pagedaccueil.png')}}" class="taille-image-accueil" alt="imageHomePage1">
                    <img src="{{ asset('images_sites/home/image15pagedaccueil.png')}}" class="taille-image-accueil" alt="imageHomePage2">
            </div>
            <div class="d-flex justify-content-between ligne2">
                <img src="{{ asset('images_sites/home/image9pagedaccueil.png')}}" class="taille-image-accueil imageHome" alt="imageHomePage3">
                <div class="d-flex flex-column justify-content-center">
                    <h4 class="accueil mt-0 mb-4">Oeuvre d’art sur mesure</h4>
                    <p class="text-accueil m-0">Votre Créatrice sur mesure</p>
                    <p class="text-accueil m-0">Sublime</p>
                    <p class="text-accueil m-0">Votre univers en oeuvre d'art.</p>
                    <p class="text-accueil m-0">(peinture, dessin, broderie et logo)</p>
                    <h6 class="accueil mt-5">Sublimer votre univers</h6>
                </div>
                <img src="{{ asset('images_sites/home/image14pagedaccueil.png')}}" class="taille-image-accueil imageHome" alt="imageHomePage4">
            </div>
            <div class="d-flex justify-content-between">
                <img src="{{ asset('images_sites/home/image10pagedaccueil.png')}}" class="taille-image-accueil" alt="imageHomePage5">
                <img src="{{ asset('images_sites/home/image13pagedaccueil.png')}}" class="taille-image-accueil" alt="imageHomePage6">
                <img src="{{ asset('images_sites/home/dragonzrondBis.png')}}" class="taille-image-accueil" alt="imageHomePage6">
            </div>

        </div>
    </div>


{% endblock %}
