<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item ">
                <a class="nav-link {% if current_menu is defined and current_menu == 'properties' %} active {% endif %}" href="{{ path('app_home') }}">Accueil</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link {% if current_menu is defined and current_menu == 'fabric' %} active {% endif %}" href="{{ path('app_fabricSublimes') }}">La Fabric des Sublimés</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link {% if current_menu is defined and current_menu == 'creation' %} active {% endif %}" href="{{ path('app_creation') }}">Créations</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link {% if current_menu is defined and current_menu == 'commandez' %} active {% endif %}" href="{{ path('app_commandez') }}">Commandez</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link {% if current_menu is defined and current_menu == 'contact' %} active {% endif %}" href="{{ path('app_contact') }}">Contact</a>
            </li>
        </ul>
        <ul class="navbar-nav align-items-center">
            {% if is_granted('ROLE_ADMIN') %}
                <div class="nav-item dropdown mr-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ path('admin_creation_list') }}">Nouvelle création</a>
                        <a class="dropdown-item" href="{{ path('admin_categorie_list') }}">Nouvelle catégorie</a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Se deconnecter</a>
                    </div>
                </div>
            {% endif %}
            <li class="nav-item">
                <a href="{{ path('app_login') }}"><img style="width: 50px; height: 50px" src="{{ asset('images_sites/profile.svg') }}" alt=""></a>
            </li>
        </ul>
    </div>
</nav>

