<div style="text-align: center">
    <h1>Nouveau message de la part <i>{{ contact.nom }}</i></h1>
    <p><u><b>Email :</b></u> {{ contact.email }}</p>
    <p><u><b>Téléphone :</b></u> {{ contact.phone }}</p>
    <p><u><b>Sujet de la demande :</b></u> {{ contact.sujet }}</p>
    <p><u><b>Comment avez-vous connus La Fabric des Sublimés :</b></u> {{ contact.fabric }}</p>
    <p><u><b>Message :</b></u> {{ contact.message }}</p>
</div>